/* MessagesComponent's private CSS styles */
h2 {
  color:blue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
// body,
// input[text],
// button {
//   color: crimson;
//   font-family: Cambria, Georgia;
// }

button.clear {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  // cursor: hand;
  color: #333;
  margin-bottom: 12px;
}
button:hover {
  background-color: #54c1a8;
}
// button:disabled {
//   background-color: #eee;
//   color: #aaa;
//   cursor: auto;
// }


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
