<table>
  <thead>
    <tr>
      <th></th>
      <th>Station</th>
      <th>Destination</th>
      <th>Update Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list; let i=index ">
      <td>{{ i + 1 }}</td>
      <td>{{ item.Station }}</td>
      <td>{{ item.Destination }}</td>
      <td>{{ item.UpdateTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
    </tr>
  </tbody>
</table>
<h1>{{ title }}</h1>
<div class="left">
  <div>
    <p>
      The condition is currently
      <span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': true }">
        {{ condition }}
      </span>
      <button (click)="condition = !condition" [ngClass]="{ 'a': condition, 'b': condition }">
        Toggle condition to {{ condition ? 'false' : 'true' }}
      </button>
    </p>
    <p *appUnless="condition" class="unless a">
      (A) this paragraph is displayed because condition is false.
    </p>
    <p *appUnless="!condition" class="unless b">
      (B) although the condition is true, this paragraph is displayed because
      appUnless is set to false.
    </p>
    <h4>UnlessDirective with Template</h4>
    <p *appUnless="condition">Show this sentence unless the condition is true.</p>
    <p template="appUnless condition" class="unless">
      (A) this paragraph is shown when condition is false.
    </p>
    <ng-template [appUnless]="condition">
      <p class="unless">
        (A) this paragraph is also only shown unless the condition is true.
      </p>
    </ng-template>
  </div>
  <!-- <div class="right">
    <img [src]="imageUrl" class="img-round" alt="princess image">
  </div> -->
</div>
<hr>

<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>


<h1>Pipes</h1>
<a href="#happy-birthday1">Happy Birthday v1</a><br>
<a href="#happy-birthday2">Happy Birthday v2</a><br>
<a href="#birthday-pipe-chaining">Birthday Pipe Chaining</a><br>
<a href="#power-booster">Power Booster custom pipe</a><br>
<a href="#power-boost-calc">Power Boost Calculator custom pipe with params</a><br>
<hr>
<a id="happy-birthday1"></a>
<h2>Hero Birthday v1</h2>
<app-hero-birthday></app-hero-birthday>


<hr>
<a id="happy-birthday2"></a>
<h2>Hero Birthday v2</h2>
<app-hero-birthday2></app-hero-birthday2>

<hr>
<a id="birthday-pipe-chaining"></a>
<h2>Birthday Pipe Chaining</h2>
<p>
  The chained hero's birthday is
  {{ birthday | date | uppercase}}
</p>

<p>
  The chained hero's birthday is
  {{  birthday | date:'fullDate' | uppercase}}
</p>
<p>
  The chained hero's birthday is
  {{ ( birthday | date:'fullDate' ) | uppercase}}
</p>
<hr>
<a id="power-booster"></a>
<app-power-booster></app-power-booster>

<hr>
<a id="power-boost-calc"></a>
<app-power-boost-calculator>loading</app-power-boost-calculator>



<hr>
<a id="flying-heroes"></a>
<app-flying-heroes></app-flying-heroes>

<hr>
<a id="flying-heroes-impure"></a>
<app-flying-heroes-impure></app-flying-heroes-impure>
