<form (ngSubmit)="addMessage(form)" #form="ngForm">
  <p>
    Name：<input type="text" name="name" [(ngModel)]="name">
  </p>

  <p>
    Content：<input type="text" name="content" [(ngModel)]="content">
  </p>

  <p>
    <button type="submit">Add message</button>
  </p>
</form>

<!-- <div *ngFor="let message of messages">
  <p>
    Name：{{message.name}}
  </p>

  <p>
    Message :{{message.content}}
  </p>

  <p>
    Date : {{ message.date | date: 'yyyy/MM/dd HH:mm:ss' }}
  </p>
</div> -->

<!-- 用 ng-container 來迴圈就不需要額外再包一層了 -->
<ng-container *ngFor="let message of messages">

  <p>
    Name： {{ message.name }}
  </p>

  <p>
    Message： {{ message.content }}
  </p>
  <p>
    Date : {{ message.date | date: 'yyyy/MM/dd HH:mm:ss' }}
  </p>

</ng-container>


<pre>{{data|async|json}}</pre>
